@{
    ViewData["Title"] = "Home Page";
}


<div class="text-center">
    <!--Action düzenlenecek veritabanına göre.-->
    <form class="searchButton" action="/action_page.php" style="margin:auto;max-width:300px">
        <input type="text" placeholder="Search Summoner..." />
        <button type="submit">Search</button>
    </form>
</div>
<div>
    <!--Veri tabanına göre düzenlenecek.-->
    <div class="left " style="float: left; overflow-y: scroll;">Champion List</div>
    <div class="right" style="float: right; overflow-y: scroll;">Free Champion Rotation</div>
   <!-- Ortadan ayırma bozulursa diye önlem olarak duruyor.<br style="clear:both;" />-->
</div>
