<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
</head>
<body>
    <form method="post" action="\Home\Register">
        <table>
            <tr>
                <td>AD</td>
                <td>:</td>
                <td><input type="text" name="Ad" /></td>
            </tr>
            <tr>
                <td>SOYAD</td>
                <td>:</td>
                <td><input type="text" name="Soyad" /></td>
            </tr>
            <tr>
                <td>Numara</td>
                <td>:</td>
                <td><input type="text" name="No" /></td>
            </tr>
            <tr>
                <td colspan="3"><input type="submit" value="Ekle" /></td>
            </tr>
        </table>
    </form>
</body>
</html>
